/* PHASE 4: Footer */

footer{
  color: lightgrey;
  width: 900px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid lightgrey;
  border-top-width: 0px;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.footer-logo {
  float: left;
  font-size: 14px;
  padding: 20px
}

.footer-list {
  float: right;
  padding: 20px 10px;
}

.footer-list > li{
  float: left;
  padding: 0 10px;
  font-size: 14px;
}

.footer-list li a:hover{
  color: black;
}
